*{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0%;
}
p{
    margin: 0%;
    padding: 0%;
    display: inline-block;
}
body{
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 350px 1.33fr 1.1fr;

}
.sidebar{
    margin: 2px 0px 0px 49px;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    justify-content: space-between;
    align-items: center;
}
.x{
    font-size: 29px;
    margin-top: 8px;
    cursor: pointer;
}
.icon{
    display: block;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    padding: 20px 5px 0px 0px;
    color: rgb(11, 88, 126);
    margin-left: 5px;
    cursor: pointer;
    border-radius: 30px;
}
#icons{
    color: rgb(236, 245, 236);
}
.icon_text{
    display: inline-block;
    font-size: 19px;
    padding-left: 17px;
    color: rgba(231, 233, 234, 1.00);
    cursor: pointer;
    
}
.btn1{
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 100px;
    border-radius: 100px;
    font-weight: bolder;
    font-size: 17px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    
}
.immg2{
    width: 40px;
    height: 40px;
    border-radius: 500%;
    display: inline-block;
    cursor: pointer;
}
.profile{
    border-radius: 150px;
    font-size: 15px;
    font-weight: bolder;
    width: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.tex1{
    display: inline-block;
    vertical-align: top;
    margin: 0%;
    margin-left: 7px;
    cursor: pointer;
    font-size: small;
}
.tex2{
    display: inline-block;
    margin: 0%;
    margin-left: 7px;
    vertical-align: middle;
    color: grey;
    font-size: small;
    cursor: pointer;
}
.main{
    border: 0.09px solid rgb(39, 38, 38);
}
.btn2{
    border: none;
    padding: 19px;
    margin: 0%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.for_follow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.09px solid rgb(39, 38, 38);
    margin: 0%;
    cursor: pointer;
}
.sec1{
    padding: 16px 6px 0px 16px ;
    border: 0.09px solid rgb(39, 38, 38);
    
}
.tex3{
    display: inline-block;
    vertical-align: top;
    margin: 14px 0px 0px 12px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    border: none;
    width: 190px;
    cursor: pointer;
}
.tex4{
    margin: 0%;
    font-size: 12px;
    color: rgb(29, 155, 240);
    font-weight: bolder;
    margin: 10px 0px 10px 56px;
    cursor: pointer;
}
.icon_sec{
    display: flex;
}
#subIcon{
    margin: 11px 11px 11px 11px ;
    cursor: pointer;
    color: rgb(24, 99, 212);
    
}
.btn4{
    border: none;
    color: rgb(146, 137, 137);
    padding: 6px 17px;
    border-radius: 100px;
    font-weight: bolder;
    font-size: 17px;
    background-color: rgb(29, 97, 143);
    cursor: pointer;
    
}
.sec2{
    display:flex;
    justify-content: center;
    border: 0.09px solid rgb(39, 38, 38);
    cursor: pointer;
    padding:13px 0px ;
}
.tex5{
    color: rgb(29, 155, 240);
    font-size: 15px;
}
.sec3{
    display: flex;
    padding:16px ;
    cursor: pointer;
    flex-direction: column;


}
.immg3{
    width: 40px;
    height: 40px;
    border-radius: 500%;
    display: inline-block;
    margin: 0px 0px 0px 16px;

}
#subIcon2{
    margin-left: 250px;


}
.immg4{
    width: 516px;
    height: 486px;
    border-radius: 23px;
    cursor: pointer;
    display: inline-block;
}
.conTex{
    display: flex;
    flex-direction: column;
    flex:2;
}
.texSec{
    display: flex;
    flex-direction: row;
}
.imgWid{
    background-color: rgb(14, 17, 17);
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
    width: 73px;
    padding-bottom: 340px;
}
.search{
    background-color: rgb(0, 0, 0);
    padding: 10px 60px 0px 40px;
}
.inp{
    padding: 17px 170px 17px 12px;
    display: flex;
    border: none;
    outline: none;
    border-radius: 77px;
    background-color: rgb(44, 41, 41);
    background-image: url('');
}
.inp:active{
    border: 2px solid cyan;
    background-color: rgb(24, 23, 23);
}
.side_sub{
    display: flex;
    flex-direction: column;
}
.side_box1{
    display: flex;
    flex-direction: column;
    border: 0.09px solid rgb(66, 64, 64);
    border-radius: 15px;
    padding: 16px 16px;
    margin: 16px 0px 0px 0px;
}
.btn5{
    
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 17px;
    border-radius: 100px;
    font-weight: bolder;
    font-size: 17px;
    background-color: rgb(39, 164, 214);
    cursor: pointer;
    margin: 0%;
}
.side_box2{
    display: flex;
    flex-direction: column;
    border: 0.09px solid rgb(66, 64, 64);
    border-radius: 15px;
    padding: 0px 0px;
    margin: 16px 0px 0px 0px;
}
.icon:hover{
    background-color: aqua;
}
/* Sir hover m bhi problem ari h */
.secBtn{
    flex: 1;
    padding: 0%;
    border: none;
    font-size: medium;
    font-weight: 500;
    transition: 0.2s;
}
.secBtn:hover{
    background-color: rgb(22, 22, 21);
}
.sec01{
    height: 50px;
    display: flex;
}
.sec02{
    height: 210px;
    display: flex;
    flex-direction: column;
}
.immg0{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: aqua;
}
.l1{
    padding: 10px;
}
.r1{
    padding: 20px 10px 10px 10px;
    flex: 1;
}
.icon01{
    display: flex;
    justify-content: space-between;
}
.sec03{
    padding: 10px;
    display: flex;
}
.sec03:hover{
    background-color: rgb(8, 8, 8);
}
.l2{
    background-color: aqua;
    display: flex;
}
.r2{
    
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
}
.r20{

    display: flex;
    justify-content: space-between;
    flex: 1;
}
.bigImg{
    width: 500px;
    border-radius: 5%;
    display: flex;
    flex: 1;
    padding: 10px 0px ;
}
.inp1{
    outline: none;
    border: none;
    font-size: larger;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01px solid rgb(29, 27, 27) ;
    padding: 14px 0px;
    color: rgb(34, 152, 207);
    transition: 0.2s;
}
.show:hover{
    background-color: rgb(8, 8, 8);
}