@media all and  (max-width: 430px) {
  body {
    background-color: #0f0f0f;
    margin-left: 0%;
  }
  * {
    margin: 0%;
    padding: 0%;
  }
  div {
    margin: 0%;
    padding: 0%;
  }
  p {
    display: inline-block;
    padding: 0%;
    margin: 0%;
  }
  .sideBar {
    display: none;
  }
  /* .topSlider{
    display: none;
  } */
  /* .mainContent{
    display: none;
  } */
  #icon1 {
    display: none;
  }
  .search-container {
    display: none;
  }
  .micContainer {
    display: none;
  }
  .bell {
    display: none;
  }
  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    justify-content: space-between;
    background-color: #0f0f0f;
    z-index: 1;
  }
  
.navSec2 {
  display: flex;
  position: relative;
  left: 240px;
  justify-content: end;
}
.search-container {
  display: flex;
  /* padding: 0px; */
  border: none;
  width: 30px;
  height: 30px;
}

.search-container input[type="text"] {
  display: none;
  width: 30px;
  height: 30px;
}
.search-container button img {
  position: absolute;
  filter: invert(100%); 
  width: 20px;
  height: 20px;

}

.search-container button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.search-container input[type="text"]:focus + button,
.search-container:focus-within {
  display: none;
  border-color: #00000000; /* Border color changes to blue on focus */
}
.navInp {
  display: none;
  padding: 11px 300px 11px 13px ;
  border-radius: 20px;
  outline-style: none;
  border: none;
  outline: 1px solid rgb(71, 70, 70);
  font-size: 15px;
  font-weight: 500;
  background-color: #161515;
  color: rgb(255, 255, 255);
  /* background-image: url(https://www.google.com/search?q=search+logo&oq=sea&gs_lcrp=EgZjaHJvbWUqDAgCEAAYQxiABBiKBTIGCAAQRRg5MgwIARAAGEMYgAQYigUyDAgCEAAYQxiABBiKBTIMCAMQABhDGIAEGIoFMgwIBBAAGEMYgAQYigUyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDzSAQgyNDcxajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8#vhid=c2g7TL3W4fQVBM&vssid=l) ; */
}




.bottomBar{
  position: fixed;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 48px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottomBar div{
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  margin: 0px 24px;
}
.bottomBar div i {
  color: rgb(209, 203, 203);
  font-size: larger;
  display: flex;
  justify-content: center;
}
.bottomBar div p {
  display: flex;
  font-size: 9px;
  font-weight: bolder;
  color: white;
  justify-content: center;
  color: rgb(177, 170, 170);
}




  .topSlider {
    position: sticky;
    top: 0px;
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    overflow: scroll;
    scrollbar-color: rgb(127, 128, 127) #0f0f0f;
    flex-wrap: nowrap;
    scrollbar-width: none;
    background-color: #0f0f0f;
    margin: 0%;
  }
  .subSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 12px 12px 12px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 51, 51);
    border-radius: 8px;
    font-size: small;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
  }

  .mainContent {
    margin-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
  }
  .mainImg{
    width: 430px;
    height: 228px;
    border-radius: 0px;
    transition: 0.1s;
    margin-right:0px ;
  }
  .data{
    width: 345px;
    margin: 0px 0px;
    /* padding-top: 15px;
    padding-left: 5px; */
    padding: 13px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* z-index: -1; */
  }
  .grid1{
  padding-left: 14px;  
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1.2fr 5.8fr 2fr;
  width: 360px;
  }
  .dateImg{
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 380px;
    color: white;
    padding: 2px 4px;
    background-color: #150808a4;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .shortGrid1{
    display: none;
  }
  .shortContainer{
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    padding-left: 12px;
  }
  .ShortData{
    display: flex;
    width: 132px;
    height: 232px;
    /* padding-top: 15px;
    padding-left: 5px; */
    padding: 0px 13px 10px 0px ;
    cursor: pointer;
    display: block;
    flex-direction: row;
  }
  .sImage{
    display: flex;
    width: 132px;
    height: 232px;
    border-radius: 8px;
    transition: 0.1s;
  }
  .shortContent{
    position: relative;
    width: 100%;
    height: 478px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .dateImg{
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 380px;
    color: white;
    padding: 2px 4px;
    background-color: #150808a4;
    border-radius: 5px;
    font-size: 13px;
  }
  .grid1{
    padding-top: 8px;
    display: grid;
    grid-template-columns: 1.2fr 5.8fr 2fr;
    width: 400px;
  }
}
