* {
  font-family: Arial, Helvetica, sans-serif;
  /* scrollbar-width: none; */
}
p{
    display: inline-block;
    padding: 0%;
    margin: 0%;
}
.container{
  overflow:none ;
}
hr{
  border: none;
  height: 1.1px;
  color: #333;
  background-color: #333;
}
body {
  background-color: #0f0f0f;
  margin-top: 70px;
  margin-left: 200px;
  padding-right: 0px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  justify-content: space-between;
  background-color: #0f0f0f;
  z-index: 1;
}
.navSec1 {
  display: flex;
  align-items: center;
}
#icon1 {
  font-size: larger;
  padding: 10px;
  transition: 0.01s;
  border-radius: 100px;
  cursor: pointer;
  color: whitesmoke;
}
#icon1:hover {
  background-color: rgb(39, 38, 38);
}
#mainIcon {
  padding: 0px 3px 0px 16px;
  cursor: pointer;
  color: red;
  font-size: 26px;
}
.youTubeTex{
  color: white;
  font-size: larger;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.navSec2 {
  display: flex;
}

.search-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.search-container button:hover {
  background-color: #3b3333;
}
.search-container button img {
  width: 20px;
  height: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #3e3d3d;
  border-radius: 24px;
  /* padding: 0px; */
  background-color: #100f0f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}
.search-container input[type="text"] {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 24px;
  width: 300px;
  background-color: #100f0f;
  color: rgb(238, 227, 227);
  font-size: 17px;
  width: 500px;
}
.search-container input[type="text"]:focus + button,
.search-container:focus-within {
  border-color: #145ab7; /* Border color changes to blue on focus */
}

.navInp {
  padding: 11px 300px 11px 13px ;
  border-radius: 20px;
  outline-style: none;
  border: none;
  outline: 1px solid rgb(71, 70, 70);
  font-size: 15px;
  font-weight: 500;
  background-color: #161515;
  color: rgb(255, 255, 255);
  /* background-image: url(https://www.google.com/search?q=search+logo&oq=sea&gs_lcrp=EgZjaHJvbWUqDAgCEAAYQxiABBiKBTIGCAAQRRg5MgwIARAAGEMYgAQYigUyDAgCEAAYQxiABBiKBTIMCAMQABhDGIAEGIoFMgwIBBAAGEMYgAQYigUyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDzSAQgyNDcxajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8#vhid=c2g7TL3W4fQVBM&vssid=l) ; */
}
.navInp:focus {
  outline-color: rgb(0, 110, 255);
}
.navSec3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.trey {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
}
.sideBar{
    position: fixed;
    top: 56px;
    left: 0;
    width: 216px;
    height: 93%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow: hidden;
    transition: 0.9s;
}
.sideBar:hover{
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(127, 128, 127) #0f0f0f ;
    padding-bottom: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    transition: 0.03s;
    z-index: 3;
}
.menu:hover{
    background-color: rgb(29, 27, 27);
}
#icon2{
  font-size: larger;
  padding: 0px 12px;
  cursor: pointer;
  color: whitesmoke;
}
.icon2tex{
    
  font-size: 14px;
  padding: 0px 12px;
  cursor: pointer;
  color: whitesmoke;
}
.hrule{
    border: 0.09px solid rgb(39, 38, 38);
    margin: 11px 0px;
}
.lasTex{
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 0px 12px;
  cursor: pointer;
  color: rgb(92, 84, 84);
}
.topSlider{
  position: sticky;
  top: 56px;
  margin-left: 60px;
  margin-right: 18px;
  padding-right: 20px;
  /* width: 82%; */
  display: flex;
  align-items: center;
  overflow: scroll;
  /* scrollbar-width: thin; */
  scrollbar-color: rgb(127, 128, 127) #0f0f0f ;
  flex-wrap: nowrap;
  scrollbar-width: none;
  background-color: #0f0f0f;
  /* z-index: ; */
  /* margin-top: 30px; */
  
}
.subSlide{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin: 12px 12px 12px 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(54, 51, 51);
  border-radius: 8px;
  font-size: small;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.subSlide:hover{
  background-color: #474545;
}
.mainContent{
  margin-left: 40px;
  display: flex;
  padding-top: 7px;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
}
.mainImg{
  width: 367px;
  height: 206px;
  border-radius: 13px;
  transition: 0.1s;
}
.mainImg:hover{
  /* opacity: 0.4;
  filter: blur(1px);
  z-index: 0; */
}

.data{
  width: 345px;
  margin: 0px 20px;
  /* padding-top: 15px;
  padding-left: 5px; */
  padding: 13px 0px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* z-index: -1; */
}

.grid1{
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1.2fr 5.8fr 2fr;
  width: 360px;
  
}
.immg1{
  width: 36px;
  border-radius: 100%;
}
.tex1{
  color: white;
  font-weight: 535;
}
#iconMain{
  color: white;
  display: flex;
  justify-content: end;
  padding-left:20px ;
}
.mainIcondiv{
  display: flex;
  justify-content: end;
}
.inTex{
  display: block;
  padding: 4px 0px;
  
  color:grey;
}
.inTex:hover{
  color: #b6b4b4;
}
.MicContainer{
  display: inline-block;
  position: relative;
}
.Mic{
  position: absolute;
  display: none;
  color: white;
  background-color: rgba(106, 103, 103, 0.963);
  font-size: small;
  padding: 10px 4px ;
  border-radius: 6px;
  
}
.MicContainer:hover .Mic{
  display: inline-block;
  top: 60px;
  left: -17px;
}
.bell{
  position: absolute;
  top: 4px;
  right: -2px;
  color: white;
  font-size: 11px;
  padding: 1px 3px 1px 1px;
  background-color: rgb(215, 9, 9);
  border-radius: 10px;
  border: 2px solid black;
  z-index: 2;
  
}
.shortContent{
  position: relative;
  width: 1135px;
  height: 478px;
  display: flex;
  padding-top: 24px;
  flex-wrap: wrap;
  flex-direction: row;
}
.shortContainer{
  display:flex;
}
.sIcon{
  width: 18px;
  height: 20px;
  padding-left: 15px;
}
.shortNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 30px;
}
.sIcontex{
  margin-left: 8px;
  font-weight: 600;
  font-size: large;
  color: rgb(255, 255, 255);
}
#sCross{
  font-size: 22px;
  color: white;
  border-radius: 20px;
  padding: 7px 10px;
  transition: 0.2s;
}
#sCross:hover{
  background-color: #333;
}
.sImage{
  width: 214px;
  height: 379px;
  border-radius: 13px;
  transition: 0.1s;
}

.ShortData{
  width: 244px;
  /* padding-top: 15px;
  padding-left: 5px; */
  padding: 13px 0px 20px;
  cursor: pointer;
  display: block;
  flex-direction: column;
}

.shortGrid1{
  padding-top: 8px;
  display: grid;
  width: 220px;
  grid-template-columns: 3fr 0fr;
}
#shortIconMain{
  color: rgb(150, 139, 139);
  display: flex;
  justify-content: center;
  padding-right: 16px;
  border-radius: 20px;
  padding: 7px 13px;
}
#shortIconMain:hover{
  background-color: #333;
}
  .date{
    position: relative;
    z-index: 0;
  }
.dateImg{
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 320px;
  color: white;
  padding: 2px 4px;
  background-color: #150808a4;
  border-radius: 5px;
  font-size: 13px;
}
.profileActiveCon{
  display: flex;
  flex-direction: column;
}
.profileActiveCon:hover .pActive{
  display: block;
  position: absolute;
  top: 40px;
  left: -240px;
  background-color: #232222;
}
.pActive{
  width: 268px;
  height: 717px;
  display: none;
  color: white;
  border-radius: 12px;
}
.profileCon{
  /* background-color: #474545; */
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  margin: 0%;
  padding: 16px;
}
.profileImage{
  width: 37px;
  height:  37px;
  display: flex;
  border-radius: 100px;
  margin-right: 15px;
}


#profileListIcon{
  font-size: 18px;
  margin-right: 18px;
  padding: 0px 0px 0px 16px;
}
.profileTex{
  display: flex;
  font-size: small;
  font-weight: 200;
  padding: 10px 0px;
}
#profileListIcon2{
  padding-left: 100px;
}
.profileListGrid{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
}
.profileListGrid:hover{
  background-color: rgb(60, 55, 55);
}
.profileTex1{
  display: flex;
  font-size: small;
  font-weight: 200;
  padding: 10px 0px;
  width: 100px;
  height: 20px;
}
.bottomBar{
  display: none;
}