* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}
p{
    display: inline-block;
    padding: 0%;
    margin: 0%;
}
.container{

}
body {
  background-color: #0f0f0f;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  justify-content: space-between;
  background-color: #0f0f0f;
  z-index: 1;
}
.navSec1 {
  display: flex;
  align-items: center;
}
#icon1 {
  font-size: larger;
  padding: 10px;
  transition: 0.01s;
  border-radius: 100px;
  cursor: pointer;
  color: whitesmoke;
}
#icon1:hover {
  background-color: rgb(39, 38, 38);
}
.mainIcon {
  width: 90px;
  height: 20px;
  padding: 18px 16px;
  cursor: pointer;
}
.navSec2 {
}
.navInp {
  padding: 11px 300px 11px 13px ; 
  border-radius: 20px;
  outline-style: none;
  border: none;
  outline: 1px solid rgb(71, 70, 70);
  font-size: 15px;
  font-weight: 500;
  background-color: #161515;
  color: rgb(255, 255, 255);
  /* background-image: url(https://www.google.com/search?q=search+logo&oq=sea&gs_lcrp=EgZjaHJvbWUqDAgCEAAYQxiABBiKBTIGCAAQRRg5MgwIARAAGEMYgAQYigUyDAgCEAAYQxiABBiKBTIMCAMQABhDGIAEGIoFMgwIBBAAGEMYgAQYigUyBggFEEUYPTIGCAYQRRg8MgYIBxBFGDzSAQgyNDcxajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8#vhid=c2g7TL3W4fQVBM&vssid=l) ; */
}
.navInp:focus {
  outline-color: rgb(0, 110, 255);
}
.navSec3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: ;
}
.trey {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
}
.sideBar{
    position: fixed;
    top: 56px;
    left: 0;
    width: 216px;
    height: 93%;
    display: flex;  
    flex-direction: row;
    padding: 12px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.9s;
}
.sideBar:hover{
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(127, 128, 127) #0f0f0f ;
    padding-bottom: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    transition: 0.03s;
}
.menu:hover{
    background-color: rgb(29, 27, 27);
}
#icon2{
  font-size: larger;
  padding: 0px 12px;
  cursor: pointer;
  color: whitesmoke;
}
.icon2tex{
    
  font-size: 14px;
  padding: 0px 12px;
  cursor: pointer;
  color: whitesmoke;
}
.hrule{
    border: 0.09px solid rgb(39, 38, 38);
    margin: 11px 0px;
}
.lasTex{

  font-size: 12px;
  margin-top: 40px;
  padding: 0px 12px;
  cursor: pointer;
  color: rgb(92, 84, 84);
}
.topSlider{
  position: fixed;
  top: 56px;
  left: 220px;
  margin-left: 40px;
  width: 82%;
  display: flex;
  align-items: center;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(127, 128, 127) #0f0f0f ;
  padding-right: 260px;
  flex-wrap: nowrap;
  scrollbar-width: none;
  background-color: #0f0f0f;
  z-index: 1;
}
.subSlide{
  padding: 8px 12px;
  margin: 12px 12px 12px 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(54, 51, 51);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.subSlide:hover{
  background-color: #474545;
}
.mainContent{
  position: absolute;
  top: 100px;
  left: 220px;
  margin-left: 40px;
  width: 81.5%;
  height: 84.7%;
  display: flex;
  padding-top: 24px;
  flex-wrap: wrap;
  flex-direction: row;
}
.mainImg{
  width: 367px;
  height: 206px;
  border-radius: 13px;
  transition: 0.1s;
}
.mainImg:hover{
  opacity: 0.4;
  filter: blur(1px);
}

.data{
  width: 367px;
  /* padding-top: 15px;
  padding-left: 5px; */
  padding: 13px 8px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.grid1{
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1fr 5.8fr 1fr;
}
.immg1{
  width: 36px;
  border-radius: 100%;
}
.tex1{
  color: white;
  font-weight: 535;
}
#iconMain{
  color: white;
  display: flex;
  justify-content: end;
  padding-right: 8px;
}
.inTex{
  display: block;
  padding: 4px 0px;
  
  color:grey;
}
.inTex:hover{
  color: #b6b4b4;
}
